#preview {
  overflow: hidden;
  max-width: 100%;
}
#preview, #preview #img {
  width: 596px;
  height: 371px;
}
#preview #gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  height: 100px;
  z-index: 2;
}
#preview #img {
  position: absolute;
  top:0;
  left:0;
  z-index: 3;
}
#preview #gradient .gradient-line {
  height: 10px;
  overflow: hidden;
}
#preview #text {
  margin: 0 20px 0 100px;
  position: absolute;
  top: 220px;
  z-index: 4;
}
#preview #text h2 {
  color:inherit !important;
  font-size: 1.714em;
  position: absolute;
  top: -180px;
}
#preview #text p {
  color: #444444 !important;
}
